@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

blockquote header p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

blockquote header p:first-child{
	font-size: 1.25em;
}

section[epub|type~="chapter"]{
	break-after: page;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

#the-great-god-pan-chapter-8 blockquote:last-of-type p{
	font-variant: all-small-caps;
	text-indent: 0;
}

#the-great-god-pan-chapter-8 blockquote:last-of-type i{
	font-variant: normal;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p[epub|type~="z3998:diary-entry"]{
	margin: 1em 0;
	text-indent: 0;
}

header + blockquote{
	margin: 0;
	margin-top: 1em;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#the-inmost-light-chapter-4 blockquote p{
	text-indent: 0;
}

/* All letters */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End all letters */
